* {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	font-size: 100%;
	/* base font size 16px */
	background-color: white;
	margin: 0;
	font-family: arial, sans-serif;
	background-color: black;
}
a {
	text-decoration: none;
}

/* PIECES OF WORK */

.work-title {
	text-align: center;
	font-family: 'Archivo Narrow', sans-serif;
	color: #FFFFFF;
	font-size: 2.5em;
	font-weight: bold;
}
.work-kind {
	text-align: center;
	font-family: 'Archivo Narrow', sans-serif;
	color: #FFFFFF;
	font-size: 1em;
}
.project1 {
		background-image: url("assets/project1.jpg");
	}
	.project1:hover {
		background-image: url("assets/project1 copy.jpg");
	}
.project2 {
		background-image: url("assets/project2.jpg");
	}
	.project2:hover {
		background-image: url("assets/project2 copy.jpg");
	}
.project3 {
		background-image: url("assets/project3.png");
	}
	.project3:hover {
		background-image: url("assets/project3 copy.png");
	}
.project4 {
		background-image: url("assets/project4.png");
	}
	.project4:hover {
		background-image: url("assets/project4 copy.png");
	}
.project5 {
		background-image: url("assets/project5.png");
	}
	.project5:hover {
		background-image: url("assets/project5 copy.png");
	}
.project6 {
		background-image: url("assets/project6.png");
	}
	.project6:hover {
		background-image: url("assets/project6 copy.png");
	}
.project7 {
		background-image: url("assets/project7.png");
	}
	.project7:hover {
		background-image: url("assets/project7 copy.png");
	}
.project8 {
		background-image: url("assets/project8.png");
	}
	.project8:hover {
		background-image: url("assets/project8 copy.png");
	}
.project9 {
		background-image: url("assets/project9.png");
	}
	.project9:hover {
		background-image: url("assets/project9 copy.png");
	}
.piece-work-link {
	background-position: center;
}
.piece-work-link:hover {
	box-shadow: 0px 0px 40px #FFFFFF;
	background-image: 
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}


/* Headline */

.headline {
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	font-size: 36px;
}

/* MEDIA QUERIES REQUIRES */

@media (min-width: 768px) {
	.headline {
		font-size: 48px;
	}
}

@media (min-width: 1024px) {
	.headline {
		font-size: 64px;
	}
}

/*  PORTFOLIO - LIST - % */

.portfolio-list--percent {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

@media (min-width: 768px) {
	.portfolio-list--percent {
		/*width: 586px;*/
		width: 76.30208333%;
	}	
}

@media (min-width: 1024px) {
	.portfolio-list--percent {
		/*width: 984px;*/
		width: 96.09375%;
		max-width: 1200px;
	}	
}

/*  PIECES OF WORK */

.piece-work-link {
	/*width: 210px;*/
	width: 100%;
	height: 300px;
	margin: 6.25% auto;
	display: block;	
	padding-top: 90px;

}
.WORK{
	width: 100%;
	height: 300px;
	margin: 6.25% auto;
	background: #d8d8d8;
	display: block;	
}

@media (min-width: 768px) {
	.piece-work-link {
		/*width: 253px;*/
		width: 43.14381271%;
		height: 200px;
		float: left;
		/*margin: 20px;*/
		margin: 3.412969283%;
		padding-top: 50px;
	}
}

@media (min-width: 1024px) {
	.piece-work-link {
		/*width: 288px;*/
		width: 29.26829268%;
		height: 200px;
		margin: 2.032520325%;
		padding-top: 50px;
	}

}



